:root {
    --font: "Roboto", sans-serif;

    /*---Colors---*/
    --header-blue: #2A324B;
    --lighter-blue-ish: #58699D;
    --background-color: #E1E5EE;
    --white: #fff;
}



body {
    padding: 0;
    margin: 0;
    font-family: var(--font); 
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.container {
    margin: 10rem;
    padding: 0;
    width: 1200px;
    height: 400px;
}

.container header {
    margin: 0;
    padding: 0;
}




.container header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.container header nav ul li {
    /*Aligning content center*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Removing list style*/
    text-decoration: none;
    list-style: none;
    /*Styling the boxes*/
    width: 230px;
    height: 80px;
    background-color: var(--header-blue);
    /*Styling content of boxes*/
    color: var(--white);
}


#information h2 {
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content > * {
   display: flex;
   flex-direction: column;
    margin-left: 5rem;
}

.content h2 {
    font-size: 30px;
}

.content p {
    font-size: 20px;
}

.content ul {
    margin-top: 0;
    font-size: 20px;
}


nav ul li button {
    background-color: var(--header-blue);
    /*background-color: var(--header-blue);*/
    color: var(--white);
    font-size: 25px;
    width: 100%;
    height: 100%;
}
